/* shatha start*/
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #0B2E34;
    color: #fff;
    text-align: center;
}

header {
    background-color: #0B2E34;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.login a {
    background-color: #44a2b6;
    padding: 8px 15px;
    border-radius: 5px;
}

.back {
    background-image: url('mainheaderpic.png');
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    color: #fff;
}

.content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
.content p {
    font-size: 20px;
    margin-bottom: 20px;
}

button {
    background-color: #1b717c;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #44a2b6;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: left;
    margin: 10px;
    padding: 30px 0;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a img {
    width: 30px;
    height: 30px;
}
 img {
    height: 60px;
    margin-right: 40px;
}
/* shatha end*/

/* Reham start*/
.content2{

   
    padding-right: 50px;
    background-color: #01353d;
    height: 200px;
    width: auto;
    display: flex;
    align-items: start;
    flex-direction: column;
    
}
#text1{

    padding-top: 50px;
    color:#7ce7ff;
    font-size: 48px;
    font-weight: bold;
    
}
#text2{
    
    padding-top: 20px;
    font-size: 35px;
    font-weight: bold;

}


.content22{
    
    padding-top: 50px;
    background-color: #01353d;
    height: 350px;
    width: auto;
    display: flex;
    justify-content: space-around;
    
  
}
.content22 img {
    width: 150px; 
    height: auto; 
    
}
.picDesc{

    font-size: 25px;
    font-weight: bold;
   margin-top: 20px;
   
}

/***********/
h2{

    color:#7ce7ff;
}
/***********/

.container{
    
    display: flex;
    justify-content: space-around;
    height: 1000px;

    }

    
   
#p1 , #p2, #p3, #p4{

    padding: 20px;
    border-radius: 10px;
    text-align:right;
    color: #01353d;
    background:linear-gradient(to left, rgb(194, 249, 255),#438493);
    height:120x;
    width: 70%;
    
}

#p2{

    margin-top: 70px;

}
#p3{

    margin-top: 70px;

}
#p4{

    margin-top: 70px;
}




.content3 img {

    margin-left: 50px;
    width: 170px; 
    height: auto;  
    margin-top: -160px;
    float: left;
    box-shadow: -30px 30px 0px rgba(0, 0, 0, 0.5);
 

}

/*******Assign id = EndPageFooter *********/
#EndPageFooter{
   background-color:#144d52;
   padding: 0;
   display: flex;
   flex-direction: column;
}
/****************/

.footerContainer{
 display: flex;
 color:#01353d;
 background:linear-gradient(to left, #7ce7ff, #144d52);
 font-size: 20px;

}

.aboutUs{
    
    flex-grow: 1;
    flex-basis: 100%;
}
.fastLink{

    flex-grow: 1;
    flex-basis: 100%;
}
.impotLink{
    flex-grow: 1;
    flex-basis: 100%;
}
.contact{

   
    flex-grow: 1;
    flex-basis: 100%;
}

.footerContainer h4 {
  
    text-decoration:underline;
  
   
}
.footerContainer p{

    font-size: 18px;
    font-weight: bold;
}


#footerSec2{

    padding-top: 20px;
    padding-bottom: 20px;
    font-size: larger;
}

/***Reham end****/

/*****Shatha start*****/
.BodyPart3 {
    width: 80%;
    max-width: 861px;
    height: 396px;
    position: relative;
    margin: 0 auto;
    top: 5%;
}

.Bubble {
    width: 20%;
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    background: linear-gradient(to bottom, #286e7a, #49c9e0);
    position: absolute;
}

.Bubble1 { left: 0; top: 0; }
.Bubble2 { left: 10%; top: 5%; }
.Bubble3 { left: 65%; top: 50%; }
.Bubble4 { left: 75%; top: 58%; }

.TextMainBackground {
    width: 90%;
    max-width: 716px;
    height: 289px;
    border-radius: 30px;
    background: linear-gradient(to bottom, #1a4a51, #257b88);
    position: absolute;
    left: 5%;
    top: 12%;
}

.SupportText {
    width: 80%;
    max-width: 445px;
    color: white;
    text-align: center;
    font-size: 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 35%;
}
/********Shatha end********/