
body{

    background-color: #0B2E34;
}

.container{

background-color: aliceblue;
height: 650px;
margin: 100px;
border-radius: 10px;
}

/*h3 in content1*/
h3{

    display: flex;

}

h3:before , h3:after{

    content: "";
    flex: 1;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}



.content1{

    text-align: center;
    padding:  50px;
}
#element1{

    font-size: 30px;
    font-weight: bold;
}

#element2{

    margin-top: 5px;
}

#button1{

    margin-top: 30px;
    border-radius: 20px;
    font-size: 20px;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: aliceblue;
    
    
}