
body{

    background-color: #0B2E34;
}

button{

    border-radius: 20px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: aliceblue;
    
    align-self: center;
    width: 300px;

}

.container{
    
   
background-color: aliceblue;
height: 600px;
width: 400px;
border-radius: 10px;

/* center the container */
margin: 0 auto;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}

/*h3 in content1*/
h3{

    display: flex;

}

h3:before , h3:after{

    content: "";
    flex: 1;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}



.content1{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:  50px;
}
#element1{

    font-size: 30px;
    font-weight: bold;
}

#element2{

    margin-top: 5px;
}

a:any-link{

  color: #0B2E34;  
}
a:visited{

  color: #0B2E34; 

}
a:hover{

    color:#69b8ca;

}

#button1{

    margin-top: 30px;
    border-color:gray;
    
}

form {
    margin-top: -65px;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 30px;
    gap: 10px;
    
}

label{

    font-size: 15px;
} 

input{

    background-color: aliceblue;
    border-width: 1px; border-color:gray;
    border-radius: 5px;
    width: 300px;
}

#button2{

    
background-color: #69b8ca;
border: thin;
color: aliceblue;
margin-top: 30px;




}


