/*Start of header css*/
#head {
  background-color: #0b2e34;
  padding: 10px 0;
}
.login {
  display: flex;
  align-items: center;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
ul {
  align-items: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.login a {
  background-color: #44a2b6;
  padding: 8px 15px;
  border-radius: 5px;
}
img {
  height: 60px;
  margin-right: 40px;
}
/*End of header css*/

/*Start of Body css*/
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #0b2e34;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  padding: 30px;
  background-color: #1a4a51;
  border-radius: 12px;
  width: 80%;
}
#prediction-text {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #a4e7fa;
  font-size: 18px;
  color: #333;
  border-radius: 5px;
  display: inline-block;
  margin: 1pc;
}

h1,
h2,
h3 {
  font-size: 30px;
  font-family: "Arial", sans-serif;
  text-align: center;
  margin-bottom: 15px;
}

h2,
h3 {
  color: #49cae0;
  background: linear-gradient(to right, #0b2e34, #17646f);
  padding: 15px 20px;
  border-radius: 10px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  font-size: 24px;
  margin: 25px 0;
  width: 70%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.textscontainer {
  background-color: #0e3a42;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}

.textarea1,
.textarea2 {
  display: flex;
  background: linear-gradient(to bottom, #2d5b63, #5ca0aa);
  color: #ffffff;
  border: 2px solid #49cae0;
  border-radius: 12px;
  padding: 15px 20px;
  font-size: 18px;
  resize: none;
  width: 90%;
  max-width: 700px;
  height: 120px;
  margin: 20px auto;
}

.percentage {
  display: flex;
  flex-direction: column;
}

.predictionbutton {
  font-size: 20px;
  background: linear-gradient(to bottom, #2d5b63, #5ca0aa);
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 50px;
}

#prediction-text {
  text-align: center;
  padding: 20px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

/*pics css*/
.piccontainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.picture {
  width: 150px;
  height: 150px;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Start of buttons CSS */
.buttonscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.button1 {
  font-size: 20px;
  width: 300px;
  height: 50px;
  background-color: #0b2e34;
  color: #49cae0;
  text-decoration: underline;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.button2,
.button3 {
  font-size: 20px;
  width: 200px;
  height: 50px;
  background-color: #3aa8b7;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

/* End of buttons CSS */

footer {
  font-size: 20px;
}
