header {
    background-color: #0B2E34;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.login a {
    background-color: #44a2b6;
    padding: 8px 15px;
    border-radius: 5px;
}
img {
    height: 60px;
    margin-right: 40px;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #0B2E34;
    color: #fff;
    text-align: center;
}
section {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1A4A51;
    color: #fff;
    text-align: center;
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 48px;
    text-align: right;
}
h3 {
    font-size: 48px;
    text-align: right;
}
button {
    font-size: 36px;
}
.buttonscontainer {
    text-align: center;
}
.button1 {
    background-color: #0B2E34;
    color: #49CAE0;
    text-decoration-line: underline;
    border: none;
    border-radius: 30px;
    padding: 10px 20px; 
}
.button2 {
    background-color: #3AA8B7;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px; 
    margin-top: 50px;
    margin-right: 10px;
}
.button3 {
    background-color: #3AA8B7;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px; 
}